.header{
  height: 121px;
  width: 100%;
  text-align: center;
  background: pink;
}

nav{
  float: left;
  width: 30%;
  height: 300px; 
  background: green;
  padding: 20px;
}

article {
  float: left;
  padding: 20px;
  width: 63.64%;
  background-color: yellow;
  height: 300px;
}


div {
  padding: 10px;
  text-align: center;
}

footer {
  padding: 15px;
  text-align: center;
  background-color: red;
  margin: all;
}